html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    font-family: Unica One, Arial, sans-serif;
    text-transform: uppercase;
}

body {
    font-family: Vollkorn, Georgia, serif;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.content {
    max-width: 40em;
    margin: 2px auto;
    padding: 1em;
}

header {
    background-color: #7986AC;
    height: 300px;
    margin-bottom: 0;
    padding: 1em;
    text-align: center;
}

.tag-line {
    font-size: 1rem;
    font-style: italic;
    color: #333;
    margin-top: 0px;
}
.overview {
    background-color: #d9d3e8;
}
.projects ul {
    padding-left: 0;
    list-style: none;
    margin: 0 auto;
}

.projects ul li {
    margin: 2em 0;
    border-bottom: thin solid #555;
}

.projects ul li:hover {
    background-color: #eff;
}

.projects ul li:last-child {
    border-bottom: none;
}

.projects img {
    display: inline-block;
    margin-right: 2rem;
    width: 250px;
    border: thin solid #ddd;
}

.project-description {
    display: inline-block;
    width: 300px;
}

.explore-link {
    text-align: right;
}

.explore-link a {
    text-decoration: none;
    font-family: Unica One, Arial, sans-serif;
    text-transform: uppercase;
}

footer {
    background-color: #897BAF;
    padding: 1.5em;
    text-align: center;
}

footer > ul {
    padding-left: 0;
    list-style: none;
}

footer > ul {
    padding-left: 0;
    list-style: none;
    width: 50%;
    margin: 0 auto;
}

footer > ul > li {
    display: inline-block;
    width: 33%;
}
