html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-family: Unica One, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: Unica One, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
}

body {
    font-family: Vollkorn, Georgia, serif;
}

.content {
    max-width: 40em;
    margin: 2em auto;
    padding: 1em;
}

header {
    background-color: #7986AC;
    height: 300px;
    margin: 0;
    padding: 1em;
    text-align: center;
}

.tag-line {
    font-size: 1rem;
    font-style: italic;
    color: #333;
    margin-top: 0px;
}

footer {
    background-color: #897BAF;
    padding: 1.5em;
    text-align: center;
}

footer > ul {
    padding-left: 0;
    list-style: none;
}

footer > ul {
    padding-left: 0;
    list-style: none;
    width: 50%;
    margin: 0 auto;
}

footer > ul > li {
    display: inline-block;
    width: 33%;
}
